  <footer id="footerwrap">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <h4>Sobre Nosotros</h4>
          <div class="hline-w"></div>
          <p>Django Barranquilla es una comunidad para todos los interesados en desarrollar aplicaciones en Python y/o Django dentro de la ciudad de Barranquilla. </p>
        </div>
        <div class="col-lg-4">
          <h4>Redes sociales</h4>
          <div class="hline-w"></div>
          <p>
            <a href="https://github.com/DjangoQuilla"><i class="fa fa-github"></i></a>
            <a href="https://www.facebook.com/djangoquilla"><i class="fa fa-facebook"></i></a>
            <a href="https://twitter.com/djangoquilla"><i class="fa fa-twitter"></i></a>
            <a href="https://django-python-quilla.slack.com/signup"><i class="fa fa-slack"></i></a>
            <a href="http://www.meetup.com/Django-Barranquilla/"><img src="/img/meetup.png" class="meetup-icon"></a>
          </p>
        </div>
        <div class="col-lg-4">
          <h4>Nuestra Ubicación</h4>
          <div class="hline-w"></div>
          <p>
            Carrera 53 #76-239<br/>
            Local 405, cc. Habitat<br/>
            Barranquilla, Colombia.<br/>
          </p>
        </div>
      </div>
    </div>
  </footer>
