<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" href="{{ '/ico/favicon.png' | url}}">
  <title>{% block title %}Django Barranquilla - Comunidad de Desarrollo Web{% endblock %} </title>
   {% include 'layouts/stylesheets.html' %}
</head>

<body>
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index.html">
          <img class="navbar-logo" src="{{ '/img/django_barranquilla_logo.png' | url}}">
        </a>
      </div>
      
      <div class="navbar-collapse collapse navbar-right">
        <ul class="nav navbar-nav">
          <li{% if this._path == '/' %} class="active"{% endif %}><a href="{{ '/'|url }}">INICIO</a></li>
          {% for href, title in [
                    ['/about', 'NOSOTROS'],
                    ['/blog', 'BLOG'],
                    ['/contact', 'CONTACTO']
                    ] %}
            <li{% if this.is_child_of(href) %} class="active"{% endif
              %}><a href="{{ href|url }}">{{ title }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </nav>
  <div style="height: 70px"></div>
  {% block body %}{% endblock %}
{% include 'layouts/footer.html' %}
{% include 'layouts/js_files.html' %}
    <script>
    // Portfolio
    </script>
 </body>
</html>



 